<div class="home_container">
  <div class="image_container">
    <img id="home_image" src="/assets/background/home2.jpg">
  </div>
    <div class="home-grid">
      <mat-grid-list class="grid-list" cols="3" rowHeight="2:1">
        <mat-grid-tile>
          <mat-card class="mat-card">
            <mat-card-header>Top 5 Selling Team</mat-card-header>
            <mat-card-content>
              <p>Out of 10,000 agents in Central Ohio, we rank among the Top 5 selling real estate teams</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="mat-card">
            <mat-card-header>Over $1 Billion Sold</mat-card-header>
            <mat-card-content>
              <p>Our team has sold more than $1 Billion in real estate</p>
            </mat-card-content>
          </mat-card>
          </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="mat-card">
            <mat-card-header>
              25 Years Of Proven Results
            </mat-card-header>
            <mat-card-content>
              <p>Our team has been in business for 25 years and has sold more than 1,800 homes</p>
            </mat-card-content>
          </mat-card>
         </mat-grid-tile>
      </mat-grid-list>
    </div>
  <div class="footer">
    Footer
  </div>
</div>



