/* You can add global styles to this file, and also import other style files */
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body, html {
  width: 100%;
  height: 100vh;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cdk-overlay-container {
  position: absolute;
  height: auto;
  width: auto;
  z-index: 1;
}
