.header {
  background-color: black;
  height: 140px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
  transition: ease-in-out;
  transition-delay: 5s;
  transition-duration: 5s;
  transition-property: top;
  transition-timing-function: linear;
}
.newClass {
  transition: ease-in-out;
  transition-delay: 5s;
  transition-duration: 5s;
  transition-property: top;
  transition-timing-function: linear;
  top: -100px;
}
.info_header {
  background-color: #424242;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.navigation_links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 30%;
  background-color: black;

}
.main {
  background-color: cadetblue;
  height: 100%;
  /*width: 90vw;*/
  /*overflow-x: hidden;*/
  /*overflow-y: hidden;*/
  overflow-y: visible;
  transition: ease-in-out;
  transition-delay: 5s;
  transition-duration: 5s;
  transition-property: top;
  transition-timing-function: linear;

}
.name {
  width: 80%;
  height: 100%;
}
.contact_buttons {
  width: 20%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: wheat;
}
.main_centered {
  width: auto;
  height: 100%;
}
.logo {
  width: 400px;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  outline: none;
  color: wheat;
  text-decoration: none;

}
