<div class="main_centered">
  <header [class.newClass]="scrollDown" class="header">
    <div class="info_header">
      <div class="name">
        <img src="assets/logo1.png" alt="logo" class="logo">
      </div>
      <div class="contact_buttons">
        <button [disabled]="clickedFlag" mat-stroked-button color="primary" (click)="openDialog(ComponentType['dialog-component'])">Call Me</button>
        <button [disabled]="clickedFlag" mat-stroked-button color="primary" (click)="openDialog(ComponentType['email-component'])">Email Me</button>
      </div>
    </div>
    <div class="navigation_links">
      <nav [style]="{}" mat-tab-nav-bar [backgroundColor]="background" [tabPanel]="tabPanel">
        <a id="nav-links" mat-tab-link *ngFor="let link of links" [routerLink]="link"> {{link}} </a>
      </nav>
    </div>
  </header>
  <main class="main">
    <mat-tab-nav-panel #tabPanel>
      <router-outlet></router-outlet>
    </mat-tab-nav-panel>
  </main>
</div>
